[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cryptography = "==3.3.2" # Зафиксировано, пока не починят установку версии 3.4.* (https://github.com/pyca/cryptography/releases)
requests = "*"
attrs = "*"
jsonschema = "*"
more-itertools = "*"
pyparsing = "*"
pytest = "*"
pytest-env = "*"
pytest-html = "*"
selenium = "==4.0.0.a7"
urllib3 = "*"
pytest-xdist = "*"
python-dateutil = "*"
sentry-sdk = "*"
flaky = "*"
Pillow = "*"
diffimg = "*"
yamale = "*"
boto3 = "*"
allure-pytest = "*"
arsenalqa = "*"
arsenalqa-http = "*"
requests-toolbelt = "*"

[requires]
python_version = "3.9"
